{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "semi":"off",
    "comma-dangle":"off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/prefer-default-export": "off",
    "curly": [2, "multi"]
  }
}